---
import Layout from "@layouts/Layout.astro";
import { getEntry, getEntries } from "astro:content";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const film = await getCollection("film");
  return film.map((film) => ({
    params: { id: film.id },
    props: { film },
  }));
}

const { film } = Astro.props;
const { Content } = await render(film);
const realisateur =
  film.data.realisateur && (await getEntry(film.data.realisateur));

const scenaristes =
  film.data.scenaristes && (await getEntries(film.data.scenaristes));

const roles =
  film.data.roles &&
  (await Promise.all(
    film.data.roles.map(async (r) => ({
      role: r.role,
      acteur: await getEntry(r.acteur),
    }))
  ));
---

<Layout pageTitle={`Fiche du film ${film.data.titre}`}>
  <h1>{film.data.titre}</h1>
  <p>Date de sortie : {film.data.dateSortie}</p>
  {realisateur && <p> Réalisateur : {realisateur.data.nom}</p>}
  {
    scenaristes && (
      <p>
        {" "}
        Scénaristes :{" "}
        {scenaristes
          .map((s) => s.data.nom)
          .join(", ")
          .replace(/, ([^,]*)$/, " et $1")}
      </p>
    )
  }

  <div class="prose">
    <Content />
  </div>
</Layout>
